/* egen css */
.slogan {
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(182, 245, 11, 0.8);
}
.welcomeText {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}
/* .info {
  nav-link text-uppercase text-expanded
} */

.omRubrik {
  margin: 2rem 0 2rem 0;
}
.logo {
  /* margin-bottom: -3rem;
  text-align: left;
  margin-left: 0;
  width: 100px; */
  width: 100px; 
  border-radius: 100%;
  background-image: url('../img/logo.jpg');
}
.buttonActivities {
  border: #04a187 1px solid;
  color: #045c4d;
  margin: 0.2rem 0 0.2rem 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(rgba(248, 208, 174, 0.733), #f7f1ddb0), url('../img/bakgrundSnip.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Crimson Text', serif;
  color: #045c4d;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Crimson Text', serif;
  color: #045c4d;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}



.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: rgba(12, 245, 225, 0.808);
  font-family: 'Roboto Condensed', sans-serif;
}

#mainNav .navbar-brand {
  color: #045c4d;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #045c4d;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.3rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #045c4d;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 50%;
    float: right;
    margin-left: 5rem;
  }
  .intro .intro-text {
    left: 0;
    margin-top: 3rem;
    margin-right: 5rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  background-color: rgba(182, 245, 11, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 0.8rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #045c4d;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: rgba(175, 247, 241, 0.808);
  color: #045c4d;
  font-size: 1rem;
}

.text-primary {
  color: #045c4d!important;
}

.bg-primary {
  background-color: #045c4d !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #e6a756;
  border-color: #e6a756;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #df902a;
  border-color: #df902a;
}

.font-weight-light {
  font-weight: 100 !important;
}
